// side-nav css
// .example-container {
//     width: 500px;
//     height: 300px;
//     border: 1px solid rgba(0, 0, 0, 0.5);
//   }
  
//   .example-sidenav-content {
//     display: flex;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//   }
  
//   .example-sidenav {
//     padding: 20px;
//   }
  
  .example-container {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
  }
//   .mat-drawer-container-desktop[fullscreen] {
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     position: absolute;
// }
  .mat-drawer-container[fullscreen] {
    top: 0;
    left: 0;
    right: 0;
    bottom: 8%;
    position: absolute;
}
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }


  //trial
  
body {
    font-family: Roboto, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

#toolbarMenu {
    cursor: pointer;
    margin-right: 20px;
}
#mainToolbar .toolbar-spacer {
    flex: 1 1 auto;
}

#mainToolbar .toolbar-icon {
    cursor: pointer;
    margin: 0 8px;
}

#sidenavContainer {
    margin-top: 64px;
}

#sidenav {
    width: 240px;
}

#sidenav.menu-close {
    width: 70px
}

#sidenav.menu-open {
    width: 240px
}

#sidenav .avatar {
    background-image: url('http://i.pravatar.cc/300');
    background-size: cover;
}

#sidenav .mat-list-item-content {
    padding: 0;
}

#sidenav .menu-item {
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: 10px;
  
}
#menus{
 overflow-x:hidden;overflow-y: hidden;
}
#sidenav .menu-item:hover {
  background: #eee;
}
#sidenav .menu-item mat-icon {
    margin-right: 20px;
    margin-left: 12px;
}

.dash-list h3 {
    padding: 12px;
}