
//   .example-container {
//     position: absolute;
//     top: 10%;
//     bottom: 0;
//     left: 0;
//     right: 0;
//   }

  .mat-drawer-container[fullscreen] {
    top: 0;
    left: 0;
    right: 0;
    bottom: 8%;
    position: absolute;
}
//   .example-events {
//     width: 300px;
//     height: 200px;
//     overflow: auto;
//     border: 1px solid #555;
//   }


  
// body {
//     font-family: Roboto, Arial, sans-serif;
//     padding: 0;
//     margin: 0;
// }

// #toolbarMenu {
//     cursor: pointer;
//     margin-right: 20px;
// }
// #mainToolbar .toolbar-spacer {
//     flex: 1 1 auto;
// }

// #mainToolbar .toolbar-icon {
//     cursor: pointer;
//     margin: 0 8px;
// }

// #sidenavContainer {
//     margin-top: 64px;
// }

// #sidenav {
//     width: 240px;
// }

// #sidenav.menu-close {
//     width: 70px
// }

// #sidenav.menu-open {
//     width: 240px
// }

// #sidenav .avatar {
//     background-image: url('http://i.pravatar.cc/300');
//     background-size: cover;
// }

// #sidenav .mat-list-item-content {
//     padding: 0;
// }

// #sidenav .menu-item {
//     width: 100%;
//     border-radius: 0;
//     text-align: left;
//     padding: 10px;
  
// }
// #menus{
//  overflow-x:hidden;overflow-y: hidden;
// }
// #sidenav .menu-item:hover {
//   background: #eee;
// }
// #sidenav .menu-item mat-icon {
//     margin-right: 20px;
//     margin-left: 12px;
// }

// .dash-list h3 {
//     padding: 12px;
// }


//latest trial
mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    // margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    // border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: 100%;
    // border-radius: 10px;
    // margin: 16px;
    // margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 85px);
}
.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
    }
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    margin-top: 8px;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.mat-drawer-content {
   
    overflow-x: hidden;
}